.anchor{
    text-decoration: none;
}
.icon{
    font-size: 30px;
    color: blue;
}
.page-1{
    width: 100vw;
    background-image: linear-gradient(to bottom, white -90%,rgb(44, 44, 44) 30%, black 90%);
}
.page-2,
.page-3
{
    width: 100vw;
    height: auto;
    padding: 10px;
}
.page-4
.page-5{
    width: 100vw;
    height: auto;
    padding-block: 100px;
}
.img{
    filter: drop-shadow('5px');
}

header > nav > ul{
    margin-left: auto;
    font-size: 20px;
}
header{
    position: sticky;
}
main{
    width: 100vw;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-text1{
    animation: box-left .5s .1s linear;
}
.main-text2{
    animation: box-left .5s .3s linear;
}
.main-text3{
    animation: box-left .5s .5s linear;
}
.main-text3::after{
    content: 'F';
    animation: letter 1.5s linear alternate infinite;
    animation-fill-mode: forwards;
    border-right: 1px solid whitesmoke;
    padding-right: 2px;
}
@keyframes letter {
    0%{content: 'F';}
    5%{content: 'F';}
    10%{content: 'FU';}
    15%{content: 'FUL';}
    20%{content: 'FULL';}
    25%{content: 'FULL ';}
    30%{content: 'FULL S';}
    35%{content: 'FULL ST';}
    40%{content: 'FULL STA';}
    45%{content: 'FULL STAC';}
    50%{content: 'FULL STACK';}
    55%{content: 'FULL STACK ';}
    60%{content: 'FULL STACK D';}
    65%{content: 'FULL STACK DE';}
    70%{content: 'FULL STACK DEV';}
    75%{content: 'FULL STACK DEVE';}
    80%{content: 'FULL STACK DEVEL';}
    85%{content: 'FULL STACK DEVELO';}
    90%{content: 'FULL STACK DEVELOP';}
    95%{content: 'FULL STACK DEVELOPE';}
    100%{content: 'FULL STACK DEVELOPER';}
}
.main-text4{
    animation: box-left .5s .7s linear;
}
.main-text5{
    animation: box-left .5s .9s linear;
}
.main-image{
    animation: box-right .5s .1s linear;
}
.skill-box, .profile-image{
    animation: box-left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.contactPage, .skill-opacity{
    animation: opacity linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.about-text, .experiencebox{
    overflow: hidden;
    animation: box-right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
@keyframes box-top {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes box-left{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes box-right {
    from{
        transform: translateX(40px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes opacity {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}


.solid{
    border-top: 2px solid black;
}

.profile{
    overflow: hidden;
    border-radius: 30px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    transition: background-color 1s,
                color 1s,
                scale .5s;
}
.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-box h5{
    color: whitesmoke;
    transition: all 1s;
}
.card-box p{
    display: none;
    transition: all 1s;
}
.page-4 div div .card:hover{  
    scale: 1.12;
    .card-box h5{
        opacity: 1;
    }
    .card-box p{
        display: block;
        color: whitesmoke;
    }
}
/* .page-4 > .row > div > div:hover{
    color: whitesmoke;
} */
.page-4 > .row > div > div > p{
    font-size: 17px;
    padding-top: 25px;
}



.skill-icon{
    width: 100%;
}
.skill-number{
    display: none;
}
.textLight{
    background-color: white;
    border-radius: 50%;
}


.bootstrap-react{
    mix-blend-mode: hue;
}

.card-box{
    display: none;
}
.skill-box:hover{
    .project-image{
        opacity: 0.1;
    }
    .card-box{
        display: flex;
        background-color: #000000bc;
    }
}


/* .project-image */